
    body
    {
        margin: 0;
        background-image:url(https://img5.goodfon.com/original/1440x900/e/37/interieur-restaurant-view.jpg) ;
	    background-size: 100% ;
    }
    .all_div
    {
        
        width: 1558px;
        height: 738px ;
        
        

        
    }
    .left
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 15%;
        height: 99.5%;          
        border:2px solid black;
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .right
    {
        position: absolute;
        top: 0px;
        left: 550px;
        width: 25%;
        height:25% ;
        border:2px solid black;
        font-size: 30px;
        font-family: cursive ;
    }
    .mid
    {
        position: absolute;
        top: 210px;
        left: 550px;
        width: 25%;
        height:65% ;
        border:2px solid black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;

    }
    .end
    {
        position: absolute;
        top: 735px;
        left: 1425px ;
        width: 10%;
        height:5% ;
        border:2px solid black;
        font-size: 24px;
        text-align: center;

    }
    
    
